[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
aiofiles = "*"
aiohttp = "*"
arrow = "*"
attrs = "*"
cattrs = "*"
certifi = "*"
python-dotenv = "*"
toml = "*"
yarl = "*"
pydantic = "*"

[dev-packages]
ansible = "*"
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"

[requires]
python_full_version = "3.11.4"
