[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
toml = "*"
aiofiles = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
ansible = "*"
pytest-asyncio = "*"
pytest = "*"
pytest-aiohttp = "*"

[requires]
python_full_version = "3.11.4"
