[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
toml = "*"
requests = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pytest-asyncio = "*"
pytest = "*"

[requires]
python_full_version = "3.10.12"
