log_level = "INFO"

[registration]
registration_form_channel_name = "registration-form"
registration_help_channel_name = "registration-help"
registration_log_channel_name = "registration-log"

pretix_base_url = "https://pretix.eu/api/v1/organizers/pyladiescon/events/2025"

registered_cache_file = "registered_log.txt"
pretix_cache_file = "pretix_cache.json"

[registration.item_to_roles]
"Sponsors Ticket" = ["Participant", "Sponsor"]
"Speaker Ticket" = ["Participant", "Speaker"]
"General Ticket" = ["Participant"]

[registration.variation_to_roles]
"Volunteer" = ["Organizer", "Volunteer"]

[program_notifications]
# UTC offset in hours (e.g. 1 for CET)
api_url = "https://programapi.conference.pyladies.com/schedule.json"
schedule_cache_file = "schedule_cache.json"
livestream_url_file = "livestreams.toml"
main_notification_channel_name = "session-notifications"

# optional simulated start time for testing program notifications
# simulated_start_time = "2024-07-10T07:30:00+02:00"

# optional fast mode for faster testing of program notifications
# will only take effect if simulated_start_time is set
# fast_mode = true

[program_notifications.rooms_to_channel_names]
"Main Stream" = "main-stream"
"Activities & Open Spaces" = "activities-open-spaces"

[guild_statistics]
required_role = "Organizer"
