[server]
GUILD = 345342  # int

[registration]
REG_CHANNEL_ID  = 53346t3     # int
REG_HELP_CHANNEL_ID = 234542  # int
REG_LOG_CHANNEL_ID = 342523   # int

[pretix]
PRETIX_BASE_URL = "https://fake_url.eu"
CHECKINLIST_ID = 342345  # int

[ticket_to_roles]
Business-Conference = [ 123, ]
Personal-Conference = [ 456, ]
Presenter-Speaker = [ 123, 789, ]